{{- define "main" }}
  {{- $post := partial "pelican-post.html" . }}
  <article class="post-single">
    <header class="post-header">
      <h1 class="post-title entry-hint-parent">{{ $post.title }}</h1>
      {{- if or $post.date $post.modified $post.tags }}
        <div class="post-meta">
          {{- with $post.date }}
            {{- $date := substr . 0 10 }}
            <span class="post-meta-item"><span class="post-meta-label">Published</span> <time datetime="{{ $date }}">{{ $date }}</time></span>
          {{- end }}
          {{- with $post.modified }}
            {{- $date := substr . 0 10 }}
            <span class="post-meta-item"><span class="post-meta-label">Modified</span> <time datetime="{{ $date }}">{{ $date }}</time></span>
          {{- end }}
          {{- range $index, $tag := $post.tags }}
            {{- if $index }}<span class="post-tag-separator" aria-hidden="true">·</span>{{ end }}
            <a href="{{ printf "/tags/#%s" (urlize $tag) | relURL }}">{{ $tag }}</a>
          {{- end }}
        </div>
      {{- end }}
    </header>
    <div class="post-content">
      {{- $body := $post.body | markdownify -}}
      {{- if not (.Param "disableAnchoredHeadings") -}}
        {{- partial "anchored_headings.html" $body -}}
      {{- else -}}
        {{- $body -}}
      {{- end -}}
    </div>
  </article>
{{- end }}
