{{- $page := .page -}}
{{- $post := .post -}}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ $post.title }}</h2>
  </header>
  {{- with $post.summary }}
    <div class="entry-content"><p>{{ . }}</p></div>
  {{- end }}
  <footer class="entry-footer">
    {{- with $post.date }}
      {{- $date := substr . 0 10 }}
      <span class="post-meta-item"><span class="post-meta-label">Published</span> <time datetime="{{ $date }}">{{ $date }}</time></span>
    {{- end }}
    {{- with $post.modified }}
      {{- $date := substr . 0 10 }}
      <span class="post-meta-item"><span class="post-meta-label">Modified</span> <time datetime="{{ $date }}">{{ $date }}</time></span>
    {{- end }}
    {{- range $index, $tag := $post.tags }}
      {{- if $index }}<span class="post-tag-separator" aria-hidden="true">·</span>{{ end }}
      <a class="post-tag" href="{{ printf "/tags/#%s" (urlize $tag) | relURL }}">{{ $tag }}</a>
    {{- end }}
  </footer>
  <a class="entry-link" aria-label="post link to {{ $post.title | plainify }}" href="{{ $page.RelPermalink }}"></a>
</article>
